body{
    background-color: #FFA62B;
}
.backdrop{
    height: 85vh;
    width: 99vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    background-color: #000f08;
}
.mover{
    height: 30px;
    width: 30px;
    background-color: #FFA62B;
    position: absolute;
}
p{
    display: flex;
    justify-content: center;
    font-size: larger;
}
#step-count{
    position: absolute;
    color: white;
    margin-left: 92vw;
    margin-bottom: 83vh;

}
#mode{
    border-radius: 50%;
    margin-left: 95vw;
    margin-top: 77vh;
    height: 40px;
    width: 40px;
}
.main-text{
    color: black;
}